.button {
    padding: 1em 1em;
    font-size: 1.2rem;
    border-radius: 1em;
    background-color: var(--accent);
    color: var(--primary);
    box-shadow:  7px 11px 20px -1px rgba(0,0,0,0.55);
    width: 100%;
    border: none;
    font-weight: 500;
}

.button:hover {
    background-color: var(--secondary);
    color: var(--text)

}