@import '../../App.css';

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
  }
  .header, .footer {
    background-color: var(--secondary);
    padding: 1em;
    text-align: center;
  }
  .main {
    flex: 1;
    padding: 1em;
  }

  @media  (min-width: 60rem){
    .main {
    background-color: var(--primary);

    }
    .content {
      max-width: 40rem;
      margin: auto;
    }
  }